<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Strona domowa</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('vehicleList')"/>

<div th:with="boundMin=${20000},boundMax=${40000}">

    <div id="main" class="card-body">


        <H1>LISTA POJAZDÓW</H1>
        <H3>Implementacja widoku z wykorzystaniem technologii szablonów Thymeleaf</H3>
    </div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>